
<div class="card shadow-sm align-items-center">
<div class="card" style="width: 18rem;">
  <img src="/assets/{{nombre}}.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{nombre}}</h5>
  </div>
</div>
</div>
